html { background-color: salmon; }

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;  
}

/* colours just for testing*/

h1 { background-color: lightseagreen;}
#search-form { background-color: lightgreen;}
nav { background-color: lightsalmon;}
.hero { background-color: lightslategray;}
.service-1 { background-color: darkgoldenrod;}
.service-2 { background-color: darkmagenta;}
.service-3 { background-color: darkturquoise;}

article { background-color: blue;}
#contact-form { background-color: yellow;}
footer { background-color: plum;}

/* lets initialize our grid */

/* much like flex to have grid items / cells, you need to have a container with display: grid. the contents (direct descendents) will follow grid rules. 
we may be using body for this example.
but you can put this on most anything */

body {
    display: grid;
    /* set columb width one 25% and second 75% */
    grid-template-columns: 25% 75%;
    grid-template-rows: 
        32px /* logo and search row height */
        64px
        300px
        120px
        120px
        120px
        200px
        260px
        32px;

        /* using grid area  */
        
        grid-template-areas: 
            "logo search"
            "navigation navigation"
            "hero hero"
            "service1 service1"
            "service2 service2"
            "service3 service3"
            "additional additional"
            "contact contact"
            "footer footer";
    }




h1 { grid-area: logo;}
#search-form { grid-area: search;}
nav { grid-area: navigation;}
.hero { grid-area: hero;}
.service-1 { grid-area: service1;}
.service-2 { grid-area: service2;}
.service-3 { grid-area: service3;}
article { grid-area: additional;}
#contact-form { grid-area: contact;}
footer { grid-area: footer;}



@media screen and (min-width: 600px)
{
    body {
        display: grid;
        /* set columb width one 25% and second 75% */
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 
            32px /* logo and search row height */
            32px
            500px
            200px
            180px
            400px
            32px;

            grid-template-areas:
            "logo search search"
            "navigation navigation navigation"
            "hero hero hero"
            "service1 service1 service2"
            "service3 service3 service3"
            "additional additional contact"
            "footer footer footer";
     
    }
}


@media screen and (min-width: 1024px)
{
    body {
        display: grid;
        /* set columb width one 25% and second 75% */
        grid-template-columns: 
            calc( 100% / 6 )
            calc( 100% / 6 )
            calc( 100% / 6 )
            calc( 100% / 6 )
            calc( 100% / 6 )
            calc( 100% / 6 );
            
        grid-template-rows:
            32px /* logo and search row height */
            800px
            200px
            400px
            32px;


            
            grid-template-areas: 
            "logo       navigation navigation navigation navigation search"
           
            "hero       hero    hero hero hero hero"
            "service1   service1 service2 service2 service3 service3"
            
            "additional additional additional contact contact contact"
            "footer     footer footer footer footer footer";
     
    }
}




