
/* this is not a selector we are defining a font that the */

@font-face {
    font-family: 'Cherry Monospace-Light';
    src: url( '../fonts/cherry-monospace/cherry\ Monospace-Light.ttf');
    src: url( '../fonts/cherry-monospace/cherry\ Monospace-Light.ttf') format( 'truetype' );
    font-weight: normal;  /* Thickness: how bold or light is it? */
    font-weight: normal;  /* is it italic? */
}


/* link https://www.fontsquirrel.com/fonts/rubik */

@font-face {
    font-family: 'rubik';
    src: url( '../fonts/rubik/rubik-regular.ttf');
    src: url( '../fonts/rubik/rubik-regular.ttf') format( 'truetype' );
    font-weight: normal;  /* Thickness: how bold or light is it? */
    font-weight: normal;
}

@font-face {
    font-family: 'rubik';
    src: url( '../fonts/rubik/rubik-blackitalic.ttf');
    src: url( '../fonts/rubik/rubik-blackitalic.ttf') format( 'truetype' );
    font-weight: normal;  /* Thickness: how bold or light is it? */
    font-weight: italic;
}

@font-face {
    font-family: 'rubik';
    src: url( '../fonts/rubik/rubik-bolditalic.ttf');
    src: url( '../fonts/rubik/rubik-bolditalic.ttf') format( 'truetype' );
    font-weight: bold;  /* Thickness: how bold or light is it? */
    font-weight: italic;
}
/* Heading */
h1 {
    font-family: 'Cherry Monospace-Light', 'Courier New', courier, monospace;
}
/*
    Navigation links
*/


/* "direct descendant" - ul must be directly inside the NAV */
nav > ul {
    list-style-type: square;
}
nav a {
    text-decoration: none; /* Gets rid of the underline*/
    color: rgb(165, 211, 165);

    /* font family is sued for defining which font should be used here. */
    font-family: Helvetica, arial, sans-serif, "Trebuchet MS";
}

body {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;

}



/* the "hover" state of any anchor (a) inside of a nav. */
nav a:hover {
    color: blue;
    /* color: #0000dd; Hex Colour */
}

.black-font {
    font-weight: bolder;
}

.light-font {
    font-weight: lighter;
}

h2, p {
    font-family: 'rubik', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

p:nth-of-type(3) {
    font-family: 'Red Rose', cursive;
}

p:nth-of-type(3) img {
    float: right;
    margin-left: 32px;
    
}